
.newsSection {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  padding-inline: 15px;  
  --articlesMaxWidth: 30em;
  --newsCols: 3;
  --btnWidth: 80%;
  --articleCatFS:.87em;
}



.newsSection h2 {
  text-align: center;
}

.newsSection .news__articles {
  border-block: 2px solid var(--darkdark);
  max-width: var(--articlesMaxWidth);
}

.newsSection .news__articles {
  display: flex;
  flex-direction: column;
}

.news__articles > section {
  display: grid;
  grid-template-columns: repeat(var(--newsCols), 1fr);
  align-items: center;
  row-gap: .8em;
  column-gap: 1em;
  padding-block: 2em;
  border-bottom: 1px solid var(--gray);
}

.news__articles > section > *:last-child {
  grid-row-start: 2;
  grid-column-end: span var(--newsCols);
}

.news__articles > section > *:first-child {
  background-color: var(--pink);
  padding: .4em .8em;
  border-radius: .2em;
  color: aliceblue;
  text-align: center;
}

.news__articles > section:nth-child(even) > *:first-child {
    background-color: #00A9EA;
}  

.news__articles > section > :is(*:nth-child(1), *:nth-child(2)) {
    font-size: var(--articleCatFS);
}

.newsSection > button {
    position: relative;
    width: var(--btnWidth);
    font-size: 1em;
    padding-block: 1.4em;
    background-color: var(--white);
    outline: 0;
    color: var(--darkdark);
    border: 2px solid var(--gray);
}

.newsSection > button::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    
    translate: .3em .3em;
    border-bottom: 2px solid var(--gray);
    border-right: 2px solid var(--gray);
}

/* Medium */
@media (min-width: 764px) {

    .newsSection {
        --articlesMaxWidth: 40em;
        --newsCols: 5;
        --btnWidth: 17em;
    }


}

@media (min-width: 1024px) {
    .newsSection {
        width: 100%;
        --articlesMaxWidth: 60em;
        --articleCatFS: .9em;
        padding-inline: 0;
    }

    .newsSection .news__articles {
        width: 100%;
    }

    .news__articles > section {
        display: flex;
    }

    .news__articles > section > *:first-child {
        width: 9%;
        padding: .7em 1em;
    }
}

@media (min-width: 1280px) {
    .newsSection {
        --articlesMaxWidth: 68em;
    }

    .news__articles > section  {
        gap: 2em;
    }
}

